<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="BufferingWrapper" name="bufferedDatabase" bufferSize="1">
      <target xsi:type="Database" name="LogDatabase"
              connectionString="${configsetting:name=ConnectionStrings.Log}"
              commandText="INSERT INTO Aspv4.Log (Date, Thread, Level, Logger, Message, Exception, HostName) VALUES (@data, @threadID, @level, @logger, @message, @exception, @hostname)">
          <parameter name="@data" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
          <parameter name="@threadID" layout="${threadid}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@logger" layout="${logger}" />
          <parameter name="@message" layout="${message}" size="8000"/>
          <parameter name="@exception" layout="${exception:format=tostring,Data:maxInnerExceptionLevel=10}" size="8000"/>
          <parameter name="@hostname" layout="${machinename}" />
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="bufferedDatabase" final="true" />
  </rules>
</nlog>